.mid {
    margin: 0 auto;
}
.t-c {
    text-align: center;
}
.t-r {
    text-align: right;
}
.t-l {
    text-align: left;
}
.bk-no {
    border: none;
}
.bk-yes {
    border: solid 0.01vh rgba(255, 255, 255, 0.2);
}
.bj-no {
    padding: 0;
    margin: 0;
}
/*---默认全局都有动画--*/
* {
    animation: all 5s infinite;
    -webkit-animation: all 5s infinite;
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.8);
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    display: block;
    overflow: hidden;
    position: static;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
[hidden] {
    display: none;
}
a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    background-color: #28323c;
    height: 30px;
    outline-offset: -2px;
    -webkit-border-radius: 4px;
}
/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    background-color: #484848;
    height: 30px;
    -webkit-border-radius: 4px;
}
/*---滚动条大小--*/
::-webkit-scrollbar {
    width: .2rem;
    height: 4px;
}
/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    background-color: black;
    -webkit-border-radius: 0;
}
/*---图标库初始化--*/
i {
    display: inline-block;
    font-style: normal;
    font-family: 'iconfont';
    text-align: center;
}
.flex {
    display: flex;
}
.flex.flex-r {
    flex-direction: row;
}
.flex.flex-r-r {
    flex-direction: row-reverse;
}
.flex.flex-c {
    flex-direction: column;
}
.flex.flex-c-r {
    flex-direction: column-reverse;
}
.flex.flex-w-n {
    flex-wrap: nowrap;
}
.flex.flex-w {
    flex-wrap: wrap;
}
.flex.flex-w-r {
    flex-wrap: wrap-reverse;
}
.flex.flex-x-f-s {
    justify-content: flex-start;
}
.flex.flex-x-f-e {
    justify-content: flex-end;
}
.flex.flex-x-f-c {
    justify-content: center;
}
.flex.flex-x-f-s-b {
    justify-content: space-between;
}
.flex.flex-x-f-s-a {
    justify-content: space-around;
}
.flex.flex-y-f-s {
    align-items: flex-start;
}
.flex.flex-y-f-e {
    align-items: flex-end;
}
.flex.flex-y-f-c {
    align-items: center;
}
.flex.flex-y-f-s-b {
    align-items: baseline;
}
.flex.flex-y-f-s-a {
    align-items: stretch;
}
.flex.flex-xy-f-s {
    align-content: flex-start;
}
.flex.flex-xy-f-e {
    align-content: flex-end;
}
.flex.flex-xy-f-c {
    align-content: center;
}
.flex.flex-xy-f-s-b {
    align-content: space-between;
}
.flex.flex-xy-f-s-a {
    align-content: space-around;
}
.flex.flex-xy-f-n {
    align-content: stretch;
}
.col {
    flex: 1 1 auto;
}
.col-1 {
    flex: 0 0 0.08333333;
    max-width: 8.33333333%;
}
.col-2 {
    flex: 0 0 0.16666667;
    max-width: 16.66666667%;
}
.col-3 {
    flex: 0 0 0.25;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 0.33333333;
    max-width: 33.33333333%;
}
.col-5 {
    flex: 0 0 0.41666667;
    max-width: 41.66666667%;
}
.col-6 {
    flex: 0 0 0.5;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 0.58333333;
    max-width: 58.33333333%;
}
.col-8 {
    flex: 0 0 0.66666667;
    max-width: 66.66666667%;
}
.col-9 {
    flex: 0 0 0.75;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 0.83333333;
    max-width: 83.33333333%;
}
.col-11 {
    flex: 0 0 0.91666667;
    max-width: 91.66666667%;
}
.col-12 {
    flex: 0 0 1;
    max-width: 100%;
}
.col-10vw {
    flex: 0 0 10vw;
    max-width: 10vw;
}
.col-1vw {
    flex: 0 0 1vw;
    max-width: 1vw;
}
.f-12 {
    font-size: 12px;
}
.p-12 {
    padding: 12px;
}
.m-t-12 {
    margin-top: 12px;
}
.m-r-12 {
    margin-right: 12px;
}
.m-b-12 {
    margin-bottom: 12px;
}
.m-l-12 {
    margin-left: 12px;
}
.m-t-12 {
    margin-top: 12px;
}
.p-r-12 {
    padding-right: 12px;
}
.p-b-12 {
    padding-bottom: 12px;
}
.p-l-12 {
    padding-left: 12px;
}
.f-14 {
    font-size: 14px;
}
.p-14 {
    padding: 14px;
}
.m-t-14 {
    margin-top: 14px;
}
.m-r-14 {
    margin-right: 14px;
}
.m-b-14 {
    margin-bottom: 14px;
}
.m-l-14 {
    margin-left: 14px;
}
.m-t-14 {
    margin-top: 14px;
}
.p-r-14 {
    padding-right: 14px;
}
.p-b-14 {
    padding-bottom: 14px;
}
.p-l-14 {
    padding-left: 14px;
}
.f-16 {
    font-size: 16px;
}
.p-16 {
    padding: 16px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-r-16 {
    margin-right: 16px;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-l-16 {
    margin-left: 16px;
}
.m-t-16 {
    margin-top: 16px;
}
.p-r-16 {
    padding-right: 16px;
}
.p-b-16 {
    padding-bottom: 16px;
}
.p-l-16 {
    padding-left: 16px;
}
.f-18 {
    font-size: 18px;
}
.p-18 {
    padding: 18px;
}
.m-t-18 {
    margin-top: 18px;
}
.m-r-18 {
    margin-right: 18px;
}
.m-b-18 {
    margin-bottom: 18px;
}
.m-l-18 {
    margin-left: 18px;
}
.m-t-18 {
    margin-top: 18px;
}
.p-r-18 {
    padding-right: 18px;
}
.p-b-18 {
    padding-bottom: 18px;
}
.p-l-18 {
    padding-left: 18px;
}
.f-20 {
    font-size: 20px;
}
.p-20 {
    padding: 20px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-t-20 {
    margin-top: 20px;
}
.p-r-20 {
    padding-right: 20px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.p-l-20 {
    padding-left: 20px;
}
.f-22 {
    font-size: 22px;
}
.p-22 {
    padding: 22px;
}
.m-t-22 {
    margin-top: 22px;
}
.m-r-22 {
    margin-right: 22px;
}
.m-b-22 {
    margin-bottom: 22px;
}
.m-l-22 {
    margin-left: 22px;
}
.m-t-22 {
    margin-top: 22px;
}
.p-r-22 {
    padding-right: 22px;
}
.p-b-22 {
    padding-bottom: 22px;
}
.p-l-22 {
    padding-left: 22px;
}
.f-24 {
    font-size: 24px;
}
.p-24 {
    padding: 24px;
}
.m-t-24 {
    margin-top: 24px;
}
.m-r-24 {
    margin-right: 24px;
}
.m-b-24 {
    margin-bottom: 24px;
}
.m-l-24 {
    margin-left: 24px;
}
.m-t-24 {
    margin-top: 24px;
}
.p-r-24 {
    padding-right: 24px;
}
.p-b-24 {
    padding-bottom: 24px;
}
.p-l-24 {
    padding-left: 24px;
}
.f-26 {
    font-size: 26px;
}
.p-26 {
    padding: 26px;
}
.m-t-26 {
    margin-top: 26px;
}
.m-r-26 {
    margin-right: 26px;
}
.m-b-26 {
    margin-bottom: 26px;
}
.m-l-26 {
    margin-left: 26px;
}
.m-t-26 {
    margin-top: 26px;
}
.p-r-26 {
    padding-right: 26px;
}
.p-b-26 {
    padding-bottom: 26px;
}
.p-l-26 {
    padding-left: 26px;
}
.f-28 {
    font-size: 28px;
}
.p-28 {
    padding: 28px;
}
.m-t-28 {
    margin-top: 28px;
}
.m-r-28 {
    margin-right: 28px;
}
.m-b-28 {
    margin-bottom: 28px;
}
.m-l-28 {
    margin-left: 28px;
}
.m-t-28 {
    margin-top: 28px;
}
.p-r-28 {
    padding-right: 28px;
}
.p-b-28 {
    padding-bottom: 28px;
}
.p-l-28 {
    padding-left: 28px;
}
.f-30 {
    font-size: 30px;
}
.p-30 {
    padding: 30px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-t-30 {
    margin-top: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-b-30 {
    padding-bottom: 30px;
}
.p-l-30 {
    padding-left: 30px;
}
.f-32 {
    font-size: 32px;
}
.p-32 {
    padding: 32px;
}
.m-t-32 {
    margin-top: 32px;
}
.m-r-32 {
    margin-right: 32px;
}
.m-b-32 {
    margin-bottom: 32px;
}
.m-l-32 {
    margin-left: 32px;
}
.m-t-32 {
    margin-top: 32px;
}
.p-r-32 {
    padding-right: 32px;
}
.p-b-32 {
    padding-bottom: 32px;
}
.p-l-32 {
    padding-left: 32px;
}
@keyframes donghua1 {
    from {
        left: 0;
        opacity: 1;
        position: absolute;
    }
    to {
        left: -40%;
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        display: none;
        position: absolute;
    }
}
.app-box {
    height: 90vh;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    position: relative;
    overflow-y: hidden;
}
.app-box .app-box-l {
    width: 40%;
    display: block;
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
}
.app-box .app-box-l.go {
    animation: donghua1 1s 1;
    animation-fill-mode: forwards;
}
.app-box .app-title {
    width: 10vw;
    height: 3vh;
    line-height: 3vh;
    padding: 0 .5vw;
    font-size: 16px;
    display: inline-block;
}
.app-box .app-box-hd {
    height: 3vh;
    line-height: 3vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    max-font-size: 2vh;
}
.app-box .app-box-bd {
    height: 84vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}
.app-box .app-box-ft {
    height: 3vh;
    line-height: 3vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    display: block;
}
.app-box .app-box-r {
    width: 60%;
    position: absolute;
    right: 0;
}
.app-box .app-box-m {
    width: 100%;
    display: block;
}
.titList .col.on {
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
}
a.btn {
    display: inline-block;
    background-color: orange;
    width: 10vw;
    text-align: center;
    height: 3vh;
    line-height: 3vh;
    text-decoration: none;
    padding: 0 1vh;
    border: solid 1px darkgoldenrod;
    border-radius: .5vh;
    margin: 2vh 2vh;
    color: white;
    font-size: 1vh;
}
header {
    height: 5vh;
    display: block;
    position: relative;
}
footer {
    height: 5vh;
    bottom: 0;
}
#top {
    display: inline-flex;
    width: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 12px;
}
#top .top-icon {
    width: auto;
    position: fixed;
    right: 0;
    top: 0;
}
#top .top-icon .bg-red:hover {
    -webkit-transition: all 1s ease-out 0.2s;
    transition: all 1s ease-out 0.2s;
}
#top .top-icon i {
    display: block;
    float: left;
    cursor: pointer;
    width: 4vh;
    height: 3vh;
    line-height: 3vh;
    font-size: 14px;
}
#top .top-icon i:hover {
    -webkit-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
#top .top-con {
    height: 5vh;
    line-height: 5vh;
    font-size: 12px;
}
#foot {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
}
#foot ul {
    width: 76vw;
    margin: 0 auto;
    overflow: hidden;
    max-height: 20vh;
}
#foot ul li {
    display: inline-block;
}
#foot ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 10px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
#foot ul li a.on {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
#foot ul li a:hover {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
#prolist {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    position: absolute;
    top: 0;
}
#prolist li {
    box-sizing: border-box;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    height: 3vh;
    line-height: 3vh;
}
#prolist li.flex .span {
    box-sizing: border-box;
    padding: 0 10px;
    overflow: hidden;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
}
#prolist .col-10vw {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
}
#prolist .col-1vw {
    color: rgba(255, 255, 255, 0.8);
}
#prolist li.color-0:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0, 0.8);
}
#prolist li.color-0:hover .col .t-r {
    color: rgba(255, 255, 255, 0.8);
}
#prolist li.color-0 .col .t-r {
    color: rgba(0, 255, 0, 0.6);
}
#prolist li.color-1:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.8);
}
#prolist li.color-1:hover .col .t-r {
    color: rgba(255, 255, 255, 0.8);
}
#prolist li.color-1 .col .t-r {
    color: rgba(255, 0, 0, 0.6);
}
#prolist .app-nav {
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    width: 100%;
    height: 3vh;
    line-height: 3vh;
    padding: 0 10px;
}
#prolist .app-nav a {
    padding: 0 10px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.4);
}
#prolist .icon-0:before {
    content: "\e616";
    color: rgba(0, 255, 0, 0.6);
}
#prolist .icon-0:before:hover {
    color: rgba(255, 255, 255, 0.6);
}
#prolist .icon-1:before {
    content: "\e618";
    color: rgba(255, 0, 0, 0.6);
}
#prolist .icon-1:before:hover {
    color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 860px) {
    .iconfont {
        font-size: 1.5vh;
    }
    .app-box {
        font-size: 1.5vh;
    }
    #foot {
        display: none;
    }
    #top .top-icon i {
        font-size: 1.5vh;
    }
    #top .top-con {
        display: none;
    }
}
.box {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.box .main-box {
    position: relative;
    top: 5vh;
    box-sizing: border-box;
    width: 90vw;
    height: 90vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #e4e4e4;
    margin: 0 auto;
}
.box .box1 {
    font-size: 12px;
    width: 50vw;
    height: 10vh;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}
.box .box2 {
    width: 50vw;
    height: 20vw;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}
.box .box2 .title {
    white-space: nowrap;
    width: auto;
    overflow: auto;
    overflow-y: hidden;
}
.box .box2 .title a {
    display: inline-block;
    width: 10vw;
    text-align: center;
    background-color: #aaffaa;
}
h1 {
    background-color: #232b4e;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}
.title-1 {
    width: 100vw;
    background-color: #232b4e;
    font-weight: bold;
    text-align: center;
    height: 5vh;
    position: absolute;
    line-height: 5vh;
    top: 0;
    color: white;
    font-size: 3vh;
    max-font-size: 4vh;
}
.title-1 small {
    font-size: 1vh;
    background-color: #007aff;
    display: inline-block;
    height: 2vh;
    line-height: 2vh;
    padding: 0 .2vw;
    margin: 0 .5vw;
    color: white;
}
.title-2 {
    box-sizing: border-box;
    width: 100vw;
    background-color: #282828;
    font-weight: bold;
    text-align: center;
    height: 5vh;
    position: fixed;
    line-height: 2vh;
    bottom: 0;
    color: white;
    font-size: .5vh;
    max-font-size: 4vh;
    padding: .5vh;
}
/*---图标默认样式重置（白色）--*/
i {
    color: rgba(255, 255, 255, 0.6);
}
i:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
}
/*---图标默认样式重置（黑色）--*/
.bg-red:hover {
    background: rgba(255, 0, 0, 0.8);
}
body {
    background: url("../images/bg.png") no-repeat center center fixed;
}
#foot {
    background: url("../images/bg-foot.png") no-repeat bottom center fixed;
    background-size: 100% 100%;
}
